{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Car Details{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('car.createCar') }}">Add New Car</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for car in cars %}
    <article class="card">
        {% if g.user['id'] == car['user_id'] %}
          <a class="action" href="{{ url_for('car.updateCar', id=car['id']) }}">Edit Car</a>
        {% endif %}
      <header>
        <div>
          <h1>{{ car['brand'] }} {{ car['model'] }}</h1>
          <div class="about">Colour: {{ car['colour'] }}</div>
          <div class="about">Next Service: {{ car['next_service'] }}</div>
          <div class="about">Status: {{ car['status'] }}</div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}