{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome to Our Ride-Hailing Service!{% endblock %}</h1>
{% endblock %}

{% block content %}

    <p>Experience seamless travel with our ride-hailing app designed for your convenience.</p>
    <h3>Customer Features:</h3>
    <ul>
      <li>Register and log in to access app features</li>
      <li>Book a car to your desired destination</li>
      <li>View booking details and driver information</li>
      <li>Track past rides and payments in your booking history</li>
      <li>Manage payment methods</li>
      <li>Provide feedback to help improve the service</li>
    </ul>
    <h3>Driver Features:</h3>
    <ul>
      <li>Register and log in to become a driver</li>
      <li>View and accept incoming booking requests</li>
      <li>Manage job history, view past rides, and ratings from customers</li>
    </ul>
    <h3>Provider Features:</h3>
    <ul>
      <li>Register and log in to offer ride-hailing services</li>
      <li>Track available cars and their real-time locations</li>
      <li>Review customer feedback to enhance service quality</li>
    </ul>
  </div>
{% endblock %}






