<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6d02cf33dae722b7f53087bf8611009c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_6d02cf33dae722b7f53087bf8611009c" ></div>
        
</body>
<script>
    
    
            var map_6d02cf33dae722b7f53087bf8611009c = L.map(
                "map_6d02cf33dae722b7f53087bf8611009c",
                {
                    center: [51.5074, -0.1278],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_970c8d3f93fee3b3004218d268b08b91 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6d02cf33dae722b7f53087bf8611009c);
        
    
            var marker_c2bb7db2fcef607f4258a1a011390c08 = L.marker(
                [51.5090562, -0.1304571],
                {}
            ).addTo(map_6d02cf33dae722b7f53087bf8611009c);
        
    
        var custom_icon_b664bc599f6e4dc8388a5000a377cb3c = L.icon({"iconSize": [50, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_c2bb7db2fcef607f4258a1a011390c08.setIcon(custom_icon_b664bc599f6e4dc8388a5000a377cb3c);
        
    
        var popup_64c62bf20781d1a2cb237e9e7143832e = L.popup({"maxWidth": "100%"});

        
            
                var html_02ba7f80fcb2a0790506f5cff35e9e14 = $(`<div id="html_02ba7f80fcb2a0790506f5cff35e9e14" style="width: 100.0%; height: 100.0%;">Vehicle ID: mXfkjrFw<br>Place: ??? (A surprise)</div>`)[0];
                popup_64c62bf20781d1a2cb237e9e7143832e.setContent(html_02ba7f80fcb2a0790506f5cff35e9e14);
            
        

        marker_c2bb7db2fcef607f4258a1a011390c08.bindPopup(popup_64c62bf20781d1a2cb237e9e7143832e)
        ;

        
    
    
            var marker_efb6dec1d84f824b42a9f4758812131c = L.marker(
                [51.5080898, -0.0762083635],
                {}
            ).addTo(map_6d02cf33dae722b7f53087bf8611009c);
        
    
        var custom_icon_24890d654c2621384f2bb3ced46131f8 = L.icon({"iconSize": [50, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_efb6dec1d84f824b42a9f4758812131c.setIcon(custom_icon_24890d654c2621384f2bb3ced46131f8);
        
    
        var popup_3cab24c7efba55923f31feba7b76a116 = L.popup({"maxWidth": "100%"});

        
            
                var html_95694ed19b28fe2c70e63e91690cdba6 = $(`<div id="html_95694ed19b28fe2c70e63e91690cdba6" style="width: 100.0%; height: 100.0%;">Vehicle ID: nZXB8ZHz<br>Place: Tower of London</div>`)[0];
                popup_3cab24c7efba55923f31feba7b76a116.setContent(html_95694ed19b28fe2c70e63e91690cdba6);
            
        

        marker_efb6dec1d84f824b42a9f4758812131c.bindPopup(popup_3cab24c7efba55923f31feba7b76a116)
        ;

        
    
    
            var marker_720119d0657a7c1d4d0e8308a5a277e2 = L.marker(
                [51.5425649, -0.0069308031],
                {}
            ).addTo(map_6d02cf33dae722b7f53087bf8611009c);
        
    
        var custom_icon_74caecb8cd77e43c9651c2e7d286eb18 = L.icon({"iconSize": [50, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_720119d0657a7c1d4d0e8308a5a277e2.setIcon(custom_icon_74caecb8cd77e43c9651c2e7d286eb18);
        
    
        var popup_f80bbb9f49817f9bf52d2910bd0d2688 = L.popup({"maxWidth": "100%"});

        
            
                var html_90429af7747fa9c23eea14fafb22a663 = $(`<div id="html_90429af7747fa9c23eea14fafb22a663" style="width: 100.0%; height: 100.0%;">Vehicle ID: Tkwu74WC<br>Place: Westfield Stratford City</div>`)[0];
                popup_f80bbb9f49817f9bf52d2910bd0d2688.setContent(html_90429af7747fa9c23eea14fafb22a663);
            
        

        marker_720119d0657a7c1d4d0e8308a5a277e2.bindPopup(popup_f80bbb9f49817f9bf52d2910bd0d2688)
        ;

        
    
    
            var marker_6d0b066334e39cfed06c6035f0f0114b = L.marker(
                [51.5198212, -0.093975237],
                {}
            ).addTo(map_6d02cf33dae722b7f53087bf8611009c);
        
    
        var custom_icon_e951d9c4734dcfd0e18b4c9ebd42e57d = L.icon({"iconSize": [50, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_6d0b066334e39cfed06c6035f0f0114b.setIcon(custom_icon_e951d9c4734dcfd0e18b4c9ebd42e57d);
        
    
        var popup_a653508c542716a6c2e85795acf81382 = L.popup({"maxWidth": "100%"});

        
            
                var html_924fabbd6a1f8b1e1bf84e84cc30c2de = $(`<div id="html_924fabbd6a1f8b1e1bf84e84cc30c2de" style="width: 100.0%; height: 100.0%;">Vehicle ID: 5KWpnAJN<br>Place: The Barbican Centre</div>`)[0];
                popup_a653508c542716a6c2e85795acf81382.setContent(html_924fabbd6a1f8b1e1bf84e84cc30c2de);
            
        

        marker_6d0b066334e39cfed06c6035f0f0114b.bindPopup(popup_a653508c542716a6c2e85795acf81382)
        ;

        
    
    
            var marker_e635904da4352df88b4a6deea5f030f0 = L.marker(
                [51.5133798, -0.0889552],
                {}
            ).addTo(map_6d02cf33dae722b7f53087bf8611009c);
        
    
        var custom_icon_b1b2cbaba83cf24f4eee110b65c98225 = L.icon({"iconSize": [50, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_e635904da4352df88b4a6deea5f030f0.setIcon(custom_icon_b1b2cbaba83cf24f4eee110b65c98225);
        
    
        var popup_4fed109636190ee0ccda903ed1251e6f = L.popup({"maxWidth": "100%"});

        
            
                var html_71a046925fb6008745ecb8ebcac3bfca = $(`<div id="html_71a046925fb6008745ecb8ebcac3bfca" style="width: 100.0%; height: 100.0%;">Vehicle ID: uf5ZrXYw<br>Place: The Bank of England</div>`)[0];
                popup_4fed109636190ee0ccda903ed1251e6f.setContent(html_71a046925fb6008745ecb8ebcac3bfca);
            
        

        marker_e635904da4352df88b4a6deea5f030f0.bindPopup(popup_4fed109636190ee0ccda903ed1251e6f)
        ;

        
    
    
            var marker_96a4728f733d9c144711347429b5ecef = L.marker(
                [51.5253378, -0.033435],
                {}
            ).addTo(map_6d02cf33dae722b7f53087bf8611009c);
        
    
        var custom_icon_af5ae28a67525dad0ab2686421536c6f = L.icon({"iconSize": [50, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_96a4728f733d9c144711347429b5ecef.setIcon(custom_icon_af5ae28a67525dad0ab2686421536c6f);
        
    
        var popup_1cbb39f2806a8b2ed704030a75bd156b = L.popup({"maxWidth": "100%"});

        
            
                var html_9a1f74b72a8cdc5a9d11f0a603460261 = $(`<div id="html_9a1f74b72a8cdc5a9d11f0a603460261" style="width: 100.0%; height: 100.0%;">Vehicle ID: VMerzMH8<br>Place: Mile End Station</div>`)[0];
                popup_1cbb39f2806a8b2ed704030a75bd156b.setContent(html_9a1f74b72a8cdc5a9d11f0a603460261);
            
        

        marker_96a4728f733d9c144711347429b5ecef.bindPopup(popup_1cbb39f2806a8b2ed704030a75bd156b)
        ;

        
    
    
            var marker_219194d6e398ba3494bb43fe68428358 = L.marker(
                [51.54458615, -0.0161905117],
                {}
            ).addTo(map_6d02cf33dae722b7f53087bf8611009c);
        
    
        var custom_icon_1a5f5743610041f05a653b74457b4a90 = L.icon({"iconSize": [50, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_219194d6e398ba3494bb43fe68428358.setIcon(custom_icon_1a5f5743610041f05a653b74457b4a90);
        
    
        var popup_05aa94bfad46cd2b8298fa9189a32c54 = L.popup({"maxWidth": "100%"});

        
            
                var html_be22ef5420c15dfb2edaf6df93e787fd = $(`<div id="html_be22ef5420c15dfb2edaf6df93e787fd" style="width: 100.0%; height: 100.0%;">Vehicle ID: 8efT67Xd<br>Place: Queen Elizabeth Olympic Park</div>`)[0];
                popup_05aa94bfad46cd2b8298fa9189a32c54.setContent(html_be22ef5420c15dfb2edaf6df93e787fd);
            
        

        marker_219194d6e398ba3494bb43fe68428358.bindPopup(popup_05aa94bfad46cd2b8298fa9189a32c54)
        ;

        
    
</script>
</html>