<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cab2c031cea8f1afdbbbbea12b9fb66b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_cab2c031cea8f1afdbbbbea12b9fb66b" ></div>
        
</body>
<script>
    
    
            var map_cab2c031cea8f1afdbbbbea12b9fb66b = L.map(
                "map_cab2c031cea8f1afdbbbbea12b9fb66b",
                {
                    center: [51.5074, -0.1278],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1e3355cd418388b4d183fecb22ce675c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_cab2c031cea8f1afdbbbbea12b9fb66b);
        
    
            var marker_c32c4165b9dca39be95cd4ee9cb3ca12 = L.marker(
                [51.5090562, -0.1304571],
                {}
            ).addTo(map_cab2c031cea8f1afdbbbbea12b9fb66b);
        
    
        var custom_icon_99cf96ad90a2da61d933a83d569647fe = L.icon({"iconSize": [30, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_c32c4165b9dca39be95cd4ee9cb3ca12.setIcon(custom_icon_99cf96ad90a2da61d933a83d569647fe);
        
    
        var popup_4a74eb78b6b53fb505c613b9cf8a8598 = L.popup({"maxWidth": "100%"});

        
            
                var html_daf65770ad56a6ac3dc1857c00af49cb = $(`<div id="html_daf65770ad56a6ac3dc1857c00af49cb" style="width: 100.0%; height: 100.0%;">Vehicle ID: mXfkjrFw<br>Place: ??? (A surprise)</div>`)[0];
                popup_4a74eb78b6b53fb505c613b9cf8a8598.setContent(html_daf65770ad56a6ac3dc1857c00af49cb);
            
        

        marker_c32c4165b9dca39be95cd4ee9cb3ca12.bindPopup(popup_4a74eb78b6b53fb505c613b9cf8a8598)
        ;

        
    
    
            var marker_cb40ec29017ebb09365f6f55ad90d7a8 = L.marker(
                [51.5080898, -0.0762083635],
                {}
            ).addTo(map_cab2c031cea8f1afdbbbbea12b9fb66b);
        
    
        var custom_icon_4ede4c891b516a264abd2d2c3f5e367f = L.icon({"iconSize": [30, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_cb40ec29017ebb09365f6f55ad90d7a8.setIcon(custom_icon_4ede4c891b516a264abd2d2c3f5e367f);
        
    
        var popup_36952b257a826057508f97389664e89c = L.popup({"maxWidth": "100%"});

        
            
                var html_de3b2c3123b090a3b425a936a65ce03e = $(`<div id="html_de3b2c3123b090a3b425a936a65ce03e" style="width: 100.0%; height: 100.0%;">Vehicle ID: nZXB8ZHz<br>Place: Tower of London</div>`)[0];
                popup_36952b257a826057508f97389664e89c.setContent(html_de3b2c3123b090a3b425a936a65ce03e);
            
        

        marker_cb40ec29017ebb09365f6f55ad90d7a8.bindPopup(popup_36952b257a826057508f97389664e89c)
        ;

        
    
    
            var marker_9d3d589ffce7da5fef5c32e0af4d08df = L.marker(
                [51.5425649, -0.0069308031],
                {}
            ).addTo(map_cab2c031cea8f1afdbbbbea12b9fb66b);
        
    
        var custom_icon_2b93e90e50f1c0688117b8dd5757cf5e = L.icon({"iconSize": [30, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_9d3d589ffce7da5fef5c32e0af4d08df.setIcon(custom_icon_2b93e90e50f1c0688117b8dd5757cf5e);
        
    
        var popup_930bf178c5d897cdec27803d117f990f = L.popup({"maxWidth": "100%"});

        
            
                var html_7aa73dde82315e46f8775d8a160b7af4 = $(`<div id="html_7aa73dde82315e46f8775d8a160b7af4" style="width: 100.0%; height: 100.0%;">Vehicle ID: Tkwu74WC<br>Place: Westfield Stratford City</div>`)[0];
                popup_930bf178c5d897cdec27803d117f990f.setContent(html_7aa73dde82315e46f8775d8a160b7af4);
            
        

        marker_9d3d589ffce7da5fef5c32e0af4d08df.bindPopup(popup_930bf178c5d897cdec27803d117f990f)
        ;

        
    
    
            var marker_fc363f74198da9e745052c0fc1922c69 = L.marker(
                [51.5198212, -0.093975237],
                {}
            ).addTo(map_cab2c031cea8f1afdbbbbea12b9fb66b);
        
    
        var custom_icon_97b6d06dacaefe5c67ddbfd193d49960 = L.icon({"iconSize": [30, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_fc363f74198da9e745052c0fc1922c69.setIcon(custom_icon_97b6d06dacaefe5c67ddbfd193d49960);
        
    
        var popup_9c237635a759ecdb57689120e8bbbb25 = L.popup({"maxWidth": "100%"});

        
            
                var html_b176e76da8abfeec66326a03190a4d39 = $(`<div id="html_b176e76da8abfeec66326a03190a4d39" style="width: 100.0%; height: 100.0%;">Vehicle ID: 5KWpnAJN<br>Place: The Barbican Centre</div>`)[0];
                popup_9c237635a759ecdb57689120e8bbbb25.setContent(html_b176e76da8abfeec66326a03190a4d39);
            
        

        marker_fc363f74198da9e745052c0fc1922c69.bindPopup(popup_9c237635a759ecdb57689120e8bbbb25)
        ;

        
    
    
            var marker_4856f2852e3940f2293d1ef04fa7aa19 = L.marker(
                [51.5133798, -0.0889552],
                {}
            ).addTo(map_cab2c031cea8f1afdbbbbea12b9fb66b);
        
    
        var custom_icon_1424e07ad247feb299a5030e04b6da0f = L.icon({"iconSize": [30, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_4856f2852e3940f2293d1ef04fa7aa19.setIcon(custom_icon_1424e07ad247feb299a5030e04b6da0f);
        
    
        var popup_afc0107205ecf7f7a85f038db23d8931 = L.popup({"maxWidth": "100%"});

        
            
                var html_c7126a0a35807953fda1b5b72f788cfd = $(`<div id="html_c7126a0a35807953fda1b5b72f788cfd" style="width: 100.0%; height: 100.0%;">Vehicle ID: uf5ZrXYw<br>Place: The Bank of England</div>`)[0];
                popup_afc0107205ecf7f7a85f038db23d8931.setContent(html_c7126a0a35807953fda1b5b72f788cfd);
            
        

        marker_4856f2852e3940f2293d1ef04fa7aa19.bindPopup(popup_afc0107205ecf7f7a85f038db23d8931)
        ;

        
    
    
            var marker_1e0f3ef7f77f64146f1103bd6b6247f2 = L.marker(
                [51.5253378, -0.033435],
                {}
            ).addTo(map_cab2c031cea8f1afdbbbbea12b9fb66b);
        
    
        var custom_icon_499291a716a639d95a3cddb4ea36ccca = L.icon({"iconSize": [30, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_1e0f3ef7f77f64146f1103bd6b6247f2.setIcon(custom_icon_499291a716a639d95a3cddb4ea36ccca);
        
    
        var popup_e7a640a071a92500912ac150c7d65b4f = L.popup({"maxWidth": "100%"});

        
            
                var html_2987325744c32bed1a64b94e5acc9a1d = $(`<div id="html_2987325744c32bed1a64b94e5acc9a1d" style="width: 100.0%; height: 100.0%;">Vehicle ID: VMerzMH8<br>Place: Mile End Station</div>`)[0];
                popup_e7a640a071a92500912ac150c7d65b4f.setContent(html_2987325744c32bed1a64b94e5acc9a1d);
            
        

        marker_1e0f3ef7f77f64146f1103bd6b6247f2.bindPopup(popup_e7a640a071a92500912ac150c7d65b4f)
        ;

        
    
    
            var marker_4fb2256052fce6f7be445788a804d96c = L.marker(
                [51.54458615, -0.0161905117],
                {}
            ).addTo(map_cab2c031cea8f1afdbbbbea12b9fb66b);
        
    
        var custom_icon_0c764efc929d03e8a1c02681cc6a97cb = L.icon({"iconSize": [30, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_4fb2256052fce6f7be445788a804d96c.setIcon(custom_icon_0c764efc929d03e8a1c02681cc6a97cb);
        
    
        var popup_d3f87f5f70c48a9ccf319cbdf7acc09c = L.popup({"maxWidth": "100%"});

        
            
                var html_8e2e5e51be6405d43b3c912c9ab9dbe9 = $(`<div id="html_8e2e5e51be6405d43b3c912c9ab9dbe9" style="width: 100.0%; height: 100.0%;">Vehicle ID: 8efT67Xd<br>Place: Queen Elizabeth Olympic Park</div>`)[0];
                popup_d3f87f5f70c48a9ccf319cbdf7acc09c.setContent(html_8e2e5e51be6405d43b3c912c9ab9dbe9);
            
        

        marker_4fb2256052fce6f7be445788a804d96c.bindPopup(popup_d3f87f5f70c48a9ccf319cbdf7acc09c)
        ;

        
    
</script>
</html>