<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_573eca29b91ce227632d184155229f5f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_573eca29b91ce227632d184155229f5f" ></div>
        
</body>
<script>
    
    
            var map_573eca29b91ce227632d184155229f5f = L.map(
                "map_573eca29b91ce227632d184155229f5f",
                {
                    center: [51.5074, -0.1278],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6d5708555af76509a1925bfc5f09d677 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_573eca29b91ce227632d184155229f5f);
        
    
            var marker_d9f1b9f3d7b97e985bd411a9d12a36f2 = L.marker(
                [51.5090562, -0.1304571],
                {}
            ).addTo(map_573eca29b91ce227632d184155229f5f);
        
    
        var custom_icon_e09eb9b0e8f861119e2928653690e40c = L.icon({"iconSize": [50, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_d9f1b9f3d7b97e985bd411a9d12a36f2.setIcon(custom_icon_e09eb9b0e8f861119e2928653690e40c);
        
    
        var popup_0d0117efb2ed813c389ce9f0d5e2951e = L.popup({"maxWidth": "100%"});

        
            
                var html_96edd5816fe508e0073d8a58141c45bf = $(`<div id="html_96edd5816fe508e0073d8a58141c45bf" style="width: 100.0%; height: 100.0%;">Vehicle ID: mXfkjrFw<br>Place: ??? (A surprise)</div>`)[0];
                popup_0d0117efb2ed813c389ce9f0d5e2951e.setContent(html_96edd5816fe508e0073d8a58141c45bf);
            
        

        marker_d9f1b9f3d7b97e985bd411a9d12a36f2.bindPopup(popup_0d0117efb2ed813c389ce9f0d5e2951e)
        ;

        
    
    
            var marker_fcdb2341aef784886c6861c7c736f3aa = L.marker(
                [51.5080898, -0.0762083635],
                {}
            ).addTo(map_573eca29b91ce227632d184155229f5f);
        
    
        var custom_icon_13b7b4017965db463927997bfefaa227 = L.icon({"iconSize": [50, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_fcdb2341aef784886c6861c7c736f3aa.setIcon(custom_icon_13b7b4017965db463927997bfefaa227);
        
    
        var popup_60e2f088400b6770b459411d3a2ed556 = L.popup({"maxWidth": "100%"});

        
            
                var html_c25eacb9fa6a53dd6d0548583d6d1bea = $(`<div id="html_c25eacb9fa6a53dd6d0548583d6d1bea" style="width: 100.0%; height: 100.0%;">Vehicle ID: nZXB8ZHz<br>Place: Tower of London</div>`)[0];
                popup_60e2f088400b6770b459411d3a2ed556.setContent(html_c25eacb9fa6a53dd6d0548583d6d1bea);
            
        

        marker_fcdb2341aef784886c6861c7c736f3aa.bindPopup(popup_60e2f088400b6770b459411d3a2ed556)
        ;

        
    
    
            var marker_b51a29c02fff75193ad2c01aff7c01a8 = L.marker(
                [51.5425649, -0.0069308031],
                {}
            ).addTo(map_573eca29b91ce227632d184155229f5f);
        
    
        var custom_icon_b7a26d5440ef2e9c1852eabedb090032 = L.icon({"iconSize": [50, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_b51a29c02fff75193ad2c01aff7c01a8.setIcon(custom_icon_b7a26d5440ef2e9c1852eabedb090032);
        
    
        var popup_c8b759a02bffc06f1865e603fed685b2 = L.popup({"maxWidth": "100%"});

        
            
                var html_96d8ed1e78107a1db853b3c8d11e1553 = $(`<div id="html_96d8ed1e78107a1db853b3c8d11e1553" style="width: 100.0%; height: 100.0%;">Vehicle ID: Tkwu74WC<br>Place: Westfield Stratford City</div>`)[0];
                popup_c8b759a02bffc06f1865e603fed685b2.setContent(html_96d8ed1e78107a1db853b3c8d11e1553);
            
        

        marker_b51a29c02fff75193ad2c01aff7c01a8.bindPopup(popup_c8b759a02bffc06f1865e603fed685b2)
        ;

        
    
    
            var marker_dc134e63d156dd3e7b5e92f28f1cd8d6 = L.marker(
                [51.5198212, -0.093975237],
                {}
            ).addTo(map_573eca29b91ce227632d184155229f5f);
        
    
        var custom_icon_289d15bd8c612c0bc46d8b0ca2d2ecf4 = L.icon({"iconSize": [50, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_dc134e63d156dd3e7b5e92f28f1cd8d6.setIcon(custom_icon_289d15bd8c612c0bc46d8b0ca2d2ecf4);
        
    
        var popup_7a38ed5ab306cd69ca34718af357f0e1 = L.popup({"maxWidth": "100%"});

        
            
                var html_445c35fabb5b81f26c404cfe1f763522 = $(`<div id="html_445c35fabb5b81f26c404cfe1f763522" style="width: 100.0%; height: 100.0%;">Vehicle ID: 5KWpnAJN<br>Place: The Barbican Centre</div>`)[0];
                popup_7a38ed5ab306cd69ca34718af357f0e1.setContent(html_445c35fabb5b81f26c404cfe1f763522);
            
        

        marker_dc134e63d156dd3e7b5e92f28f1cd8d6.bindPopup(popup_7a38ed5ab306cd69ca34718af357f0e1)
        ;

        
    
    
            var marker_98e25c823a37410b3c1c4c2ce3e5d77a = L.marker(
                [51.5133798, -0.0889552],
                {}
            ).addTo(map_573eca29b91ce227632d184155229f5f);
        
    
        var custom_icon_b60d1640ad123844d2a01b66e34e4ecc = L.icon({"iconSize": [50, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_98e25c823a37410b3c1c4c2ce3e5d77a.setIcon(custom_icon_b60d1640ad123844d2a01b66e34e4ecc);
        
    
        var popup_1d65c1b291aa9ed1ec520dbb62feb57c = L.popup({"maxWidth": "100%"});

        
            
                var html_10040ae5fd0a73c2e2644ae9786eff61 = $(`<div id="html_10040ae5fd0a73c2e2644ae9786eff61" style="width: 100.0%; height: 100.0%;">Vehicle ID: uf5ZrXYw<br>Place: The Bank of England</div>`)[0];
                popup_1d65c1b291aa9ed1ec520dbb62feb57c.setContent(html_10040ae5fd0a73c2e2644ae9786eff61);
            
        

        marker_98e25c823a37410b3c1c4c2ce3e5d77a.bindPopup(popup_1d65c1b291aa9ed1ec520dbb62feb57c)
        ;

        
    
    
            var marker_8493e1cc17a0471c2187f4f7f84fcf0a = L.marker(
                [51.5253378, -0.033435],
                {}
            ).addTo(map_573eca29b91ce227632d184155229f5f);
        
    
        var custom_icon_b7accd91aada0ba0086b8f1f19a25d4b = L.icon({"iconSize": [50, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_8493e1cc17a0471c2187f4f7f84fcf0a.setIcon(custom_icon_b7accd91aada0ba0086b8f1f19a25d4b);
        
    
        var popup_878fe72d99357a1d8d1aaf1952d50dbb = L.popup({"maxWidth": "100%"});

        
            
                var html_a14a7ece693ae7ed399c56319bba4e43 = $(`<div id="html_a14a7ece693ae7ed399c56319bba4e43" style="width: 100.0%; height: 100.0%;">Vehicle ID: VMerzMH8<br>Place: Mile End Station</div>`)[0];
                popup_878fe72d99357a1d8d1aaf1952d50dbb.setContent(html_a14a7ece693ae7ed399c56319bba4e43);
            
        

        marker_8493e1cc17a0471c2187f4f7f84fcf0a.bindPopup(popup_878fe72d99357a1d8d1aaf1952d50dbb)
        ;

        
    
    
            var marker_64a79e05db81c45838cdc00df3ab52af = L.marker(
                [51.54458615, -0.0161905117],
                {}
            ).addTo(map_573eca29b91ce227632d184155229f5f);
        
    
        var custom_icon_c64f4124c865db77994abcc3e98d14c7 = L.icon({"iconSize": [50, 30], "iconUrl": "https://apollo-media.codio.co.uk/media%2F1%2F9a9ed3e3e1ee96baf9da3e47d4570c5c-0e41f5b92e883928.webp"});
        marker_64a79e05db81c45838cdc00df3ab52af.setIcon(custom_icon_c64f4124c865db77994abcc3e98d14c7);
        
    
        var popup_aef35062cf7b03c7472bd37f82eea0f1 = L.popup({"maxWidth": "100%"});

        
            
                var html_43ee416934ab812b00f375aba4c70b0d = $(`<div id="html_43ee416934ab812b00f375aba4c70b0d" style="width: 100.0%; height: 100.0%;">Vehicle ID: 8efT67Xd<br>Place: Queen Elizabeth Olympic Park</div>`)[0];
                popup_aef35062cf7b03c7472bd37f82eea0f1.setContent(html_43ee416934ab812b00f375aba4c70b0d);
            
        

        marker_64a79e05db81c45838cdc00df3ab52af.bindPopup(popup_aef35062cf7b03c7472bd37f82eea0f1)
        ;

        
    
</script>
</html>